In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [8]:
tmps = []
for i in tqdm(range(81)):
    tmp = pd.read_csv('./data/test/{}.csv'.format(i))
    tmps.append(tmp)
    
test = pd.concat(tmps, axis=0).reset_index(drop=True)

100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 434.08it/s]

In [16]:
test[:340]

     Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET  file
0      0     0       0    0    0  2.7  34.42  0.0     0.0     0
1      0     0      30    0    0  2.7  34.17  0.1     0.0     1
2      0     1       0    0    0  2.7  34.23  0.2     0.0     2
3      0     1      30    0    0  2.7  33.99  0.3     0.0     3
4      0     2       0    0    0  2.8  33.97  0.4     0.0     4
..   ...   ...     ...  ...  ...  ...    ...  ...     ...   ...
335    6    23      30    0    0  3.4  51.96 -8.4     0.0   335
336    0     0       0    0    0  2.8  70.34 -6.1     0.0   336
337    0     0      30    0    0  2.9  71.97 -6.4     0.0   337
338    0     1       0    0    0  2.9  69.77 -6.7     0.0   338
339    0     1      30    0    0  2.9  71.95 -7.1     0.0   339

[340 rows x 10 columns]

In [39]:
len(test)

27216

In [26]:
test['file'] = test.index
test['file'] = (test['file']/336).astype(int)
test['date'] = test['Day'] + 7*test['file']

In [29]:
test

       Day  Hour  Minute  DHI  DNI   WS     RH     T  TARGET  file  date
0        0     0       0    0    0  2.7  34.42   0.0     0.0     0     0
1        0     0      30    0    0  2.7  34.17   0.1     0.0     0     0
2        0     1       0    0    0  2.7  34.23   0.2     0.0     0     0
3        0     1      30    0    0  2.7  33.99   0.3     0.0     0     0
4        0     2       0    0    0  2.8  33.97   0.4     0.0     0     0
...    ...   ...     ...  ...  ...  ...    ...   ...     ...   ...   ...
27211    6    21      30    0    0  0.8  63.35  13.7     0.0    80   566
27212    6    22       0    0    0  0.7  64.82  13.1     0.0    80   566
27213    6    22      30    0    0  0.7  66.10  12.8     0.0    80   566
27214    6    23       0    0    0  0.6  67.64  12.4     0.0    80   566
27215    6    23      30    0    0  0.6  69.44  12.0     0.0    80   566

[27216 rows x 11 columns]

In [41]:
def time_minute(data):
    hour = data['Hour']
    if data['Minute'] == 0:
        minute = 0
    else:
        minute = 0.5
    
    return hour + minute

In [42]:
ghi = test.iloc[np.where(test['DHI'] + test['DNI'] >0)[0]].reset_index(drop=True)
ghi['time_float'] = [time_minute(ghi.iloc[i]) for i in range(len(ghi.index))]

In [44]:
test_by_date = pd.DataFrame(ghi.groupby(['date'])['time_float'].min()).reset_index()
test_by_date.rename(columns = {'time_float': 'sunrise'}, inplace=True)
test_by_date['sunset'] = pd.DataFrame(ghi.groupby(['Day'])['time_float'].max())['time_float']
test_by_date['sunnyTime'] = test_by_date['sunset'] - test_by_date['sunrise']

In [45]:
test_by_date

     date  sunrise  sunset  sunnyTime
0       0      7.5    19.5       12.0
1       1      7.5    19.5       12.0
2       2      7.5    19.5       12.0
3       3      7.5    19.5       12.0
4       4      7.5    19.5       12.0
..    ...      ...     ...        ...
562   562      4.5     NaN        NaN
563   563      4.5     NaN        NaN
564   564      4.5     NaN        NaN
565   565      4.5     NaN        NaN
566   566      4.5     NaN        NaN

[567 rows x 4 columns]

In [46]:
test_by_date['T_mean'] = pd.DataFrame(test.groupby(['date'])['T'].mean())['T']
test_by_date['DHI_mean'] = pd.DataFrame(test.groupby(['date'])['DHI'].mean())['DHI']
test_by_date['DNI_mean'] = pd.DataFrame(test.groupby(['date'])['DNI'].mean())['DNI']
test_by_date['WS_mean'] = pd.DataFrame(test.groupby(['date'])['WS'].mean())['WS']
test_by_date['RH_mean'] = pd.DataFrame(test.groupby(['date'])['RH'].mean())['RH']
test_by_date['TARGET_mean'] = pd.DataFrame(test.groupby(['date'])['TARGET'].mean())['TARGET']

In [47]:
test_by_date

,date,sunrise,sunset,sunnyTime,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean
0,0,7.5,19.5,12.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528
1,1,7.5,19.5,12.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770
2,2,7.5,19.5,12.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306
3,3,7.5,19.5,12.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346
4,4,7.5,19.5,12.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597
...,...,...,...,...,...,...,...,...,...,...
562,562,4.5,NaN,NaN,14.922917,107.312500,274.875000,1.414583,47.613958,25.421188
563,563,4.5,NaN,NaN,15.972917,85.770833,326.041667,1.627083,51.993333,27.129276
564,564,4.5,NaN,NaN,18.062500,108.479167,291.604167,1.772917,49.728333,25.689886
565,565,4.5,NaN,NaN,17.520833,108.520833,229.416667,1.304167,48.447292,23.092370
566,566,4.5,NaN,NaN,18.154167,117.791667,229.645833,1.695833,45.947500,23.704122

In [48]:
X = test_by_date.drop('date', axis=1)

In [50]:
X

,sunrise,sunset,sunnyTime,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean
0,7.5,19.5,12.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528
1,7.5,19.5,12.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770
2,7.5,19.5,12.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306
3,7.5,19.5,12.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346
4,7.5,19.5,12.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597
...,...,...,...,...,...,...,...,...,...
562,4.5,NaN,NaN,14.922917,107.312500,274.875000,1.414583,47.613958,25.421188
563,4.5,NaN,NaN,15.972917,85.770833,326.041667,1.627083,51.993333,27.129276
564,4.5,NaN,NaN,18.062500,108.479167,291.604167,1.772917,49.728333,25.689886
565,4.5,NaN,NaN,17.520833,108.520833,229.416667,1.304167,48.447292,23.092370
566,4.5,NaN,NaN,18.154167,117.791667,229.645833,1.695833,45.947500,23.704122

## 모델 불러와서 예측하기

In [51]:
import joblib

In [53]:
model = joblib.load('month_xgb_200120.pkl')
predict_values = model.predict(X)

In [56]:
test_by_date['month'] = predict_values

In [58]:
test_by_date['month'].unique()

array([ 2,  3,  0,  1, 11, 10,  9,  8], dtype=int64)

In [59]:
test_by_date['month'].value_counts()

9     258
10    109
11    104
8      89
3       2
1       2
0       2
2       1
Name: month, dtype: int64

In [61]:
test_by_date[:50]

,date,sunrise,sunset,sunnyTime,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean,month
0,0,7.5,19.5,12.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528,2
1,1,7.5,19.5,12.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770,3
2,2,7.5,19.5,12.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306,3
3,3,7.5,19.5,12.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346,0
4,4,7.5,19.5,12.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597,0
5,5,7.5,19.5,12.0,-1.810417,27.625000,193.187500,1.202083,64.367917,8.706162,1
6,6,7.5,19.5,12.0,-5.487500,32.000000,8.333333,4.258333,65.420833,3.280946,1
7,7,7.5,NaN,NaN,-7.387500,40.604167,101.541667,3.029167,50.174167,7.160091,11
8,8,7.5,NaN,NaN,-9.289583,41.604167,73.250000,1.866667,56.062292,6.401682,11
9,9,7.5,NaN,NaN,-6.152083,14.520833,325.500000,2.633333,46.826458,11.353767,11
10,10,7.5,NaN,NaN,-0.397917,35.958333,178.062500,2.327083,52.801042,8.131062,11
11,11,7.5,NaN,NaN,-8.193750,31.083333,10.687500,2.772917,62.372708,3.275279,11
12,12,7.5,NaN,NaN,-10.379167,23.770833,268.375000,1.425000,51.099167,10.677711,11
13,13,7.5,NaN,NaN,-3.727083,16.375000,336.395833,1.270833,36.148750,11.928107,11
14,14,7.5,NaN,NaN,-3.212500,22.208333,322.104167,1.941667,43.941458,12.670906,10
15,15,7.5,NaN,NaN,-0.127083,22.604167,281.854167,1.872917,51.340000,11.784898,11
16,16,7.5,NaN,NaN,1.533333,22.916667,271.250000,1.770833,63.131458,11.759686,11
17,17,7.5,NaN,NaN,2.218750,22.375000,298.020833,2.085417,54.372500,12.048678,10
18,18,7.5,NaN,NaN,-1.037500,50.458333,37.895833,2.562500,67.288333,6.033585,11
19,19,7.5,NaN,NaN,-1.685417,25.937500,265.666667,3.233333,55.906875,11.411953,11
20,20,7.5,NaN,NaN,2.008333,25.729167,270.000000,2.295833,55.731667,11.909914,11
21,21,7.0,NaN,NaN,-8.412500,67.854167,59.062500,1.987500,54.240833,8.886666,11
22,22,7.0,NaN,NaN,-8.577083,29.083333,355.416667,2.591667,42.614167,18.948251,10
23,23,7.0,NaN,NaN,-5.637500,37.708333,321.187500,1.677083,53.321458,17.946754,10
24,24,7.0,NaN,NaN,-3.254167,72.854167,85.416667,2.658333,67.342083,10.627996,9
25,25,7.0,NaN,NaN,-5.395833,29.916667,364.666667,4.147917,54.521667,19.254837,10
26,26,7.0,NaN,NaN,-4.264583,31.583333,383.937500,2.027083,50.695833,19.776137,10
27,27,7.0,NaN,NaN,-1.079167,37.520833,333.708333,1.956250,54.177500,18.666698,10
28,28,6.5,NaN,NaN,-0.212500,28.125000,409.875000,3.441667,49.452708,22.534179,10
29,29,6.5,NaN,NaN,0.739583,50.187500,303.208333,1.720833,52.790417,19.878571,9
30,30,6.5,NaN,NaN,2.910417,86.375000,131.020833,1.456250,55.261458,14.591905,9
31,31,6.5,NaN,NaN,6.720833,79.604167,179.145833,2.493750,58.022083,16.878309,9
32,32,6.5,NaN,NaN,-1.310417,33.666667,2.104167,6.925000,75.343542,3.220219,10
33,33,6.5,NaN,NaN,-5.514583,67.375000,251.770833,3.593750,65.459792,19.929448,9
34,34,6.5,NaN,NaN,-4.616667,38.812500,413.416667,1.595833,54.758750,24.356690,9
35,35,5.0,NaN,NaN,24.447917,73.791667,312.791667,2.089583,42.979583,28.129433,9
36,36,5.0,NaN,NaN,22.172917,99.354167,190.791667,1.264583,60.292083,18.687981,9
37,37,5.0,NaN,NaN,23.062500,71.687500,358.645833,2.020833,54.842083,28.468150,9
38,38,5.0,NaN,NaN,24.547917,45.333333,441.812500,2.245833,47.138958,31.584963,9
39,39,5.0,NaN,NaN,25.756250,67.520833,222.833333,2.333333,37.635833,19.431504,9
40,40,5.0,NaN,NaN,23.756250,62.145833,357.187500,2.177083,45.126250,27.662617,9
41,41,5.0,NaN,NaN,25.337500,92.395833,319.750000,2.025000,36.857917,26.381541,9
42,42,5.0,NaN,NaN,25.385417,94.229167,364.791667,1.845833,36.025000,31.463321,8
43,43,5.0,NaN,NaN,26.706250,83.812500,350.895833,1.256250,24.064583,31.286773,8
44,44,5.0,NaN,NaN,26.004167,118.541667,143.041667,2.245833,32.342917,22.652403,8
45,45,5.0,NaN,NaN,26.056250,81.270833,246.437500,2.116667,38.305417,22.376955,9
46,46,5.0,NaN,NaN,24.529167,121.166667,95.437500,2.339583,48.084583,16.566510,8
47,47,5.0,NaN,NaN,20.425000,87.083333,106.250000,2.266667,70.392917,13.516405,8
48,48,5.0,NaN,NaN,23.468750,59.583333,350.125000,2.322917,57.456458,29.319794,9
49,49,5.5,NaN,NaN,23.847917,63.000000,384.708333,1.439583,46.183542,28.616189,9