In [43]:
import numpy as np
import pandas as pd
import pickle
import joblib
import math
from tqdm import tqdm

import xgboost as xgb
import lightgbm as lgbm
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

pd.set_option('display.max_rows', 100)

In [11]:
tmps = []
for i in tqdm(range(81)):
    tmp = pd.read_csv('./data/test/{}.csv'.format(i))
    tmps.append(tmp)
    
test = pd.concat(tmps, axis=0).reset_index(drop=True)

100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 423.73it/s]

In [12]:
print(test.shape)
test.head()

(27216, 9)

   Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET
0    0     0       0    0    0  2.7  34.42  0.0     0.0
1    0     0      30    0    0  2.7  34.17  0.1     0.0
2    0     1       0    0    0  2.7  34.23  0.2     0.0
3    0     1      30    0    0  2.7  33.99  0.3     0.0
4    0     2       0    0    0  2.8  33.97  0.4     0.0

In [13]:
test['file'] = test.index
test['file'] = (test['file']/336).astype(int)
test['date'] = test['Day'] + 7*test['file']
test

       Day  Hour  Minute  DHI  DNI   WS     RH     T  TARGET  file  date
0        0     0       0    0    0  2.7  34.42   0.0     0.0     0     0
1        0     0      30    0    0  2.7  34.17   0.1     0.0     0     0
2        0     1       0    0    0  2.7  34.23   0.2     0.0     0     0
3        0     1      30    0    0  2.7  33.99   0.3     0.0     0     0
4        0     2       0    0    0  2.8  33.97   0.4     0.0     0     0
...    ...   ...     ...  ...  ...  ...    ...   ...     ...   ...   ...
27211    6    21      30    0    0  0.8  63.35  13.7     0.0    80   566
27212    6    22       0    0    0  0.7  64.82  13.1     0.0    80   566
27213    6    22      30    0    0  0.7  66.10  12.8     0.0    80   566
27214    6    23       0    0    0  0.6  67.64  12.4     0.0    80   566
27215    6    23      30    0    0  0.6  69.44  12.0     0.0    80   566

[27216 rows x 11 columns]

In [14]:
def time_minute(data):
    hour = data['Hour']
    if data['Minute'] == 0:
        minute = 0
    else:
        minute = 0.5
    
    return hour + minute

In [15]:
ghi = test.iloc[np.where(test['DHI'] + test['DNI'] >0)[0]].reset_index(drop=True)
ghi['time_float'] = [time_minute(ghi.iloc[i]) for i in range(len(ghi.index))]

In [22]:
ghi

,Day,Hour,Minute,DHI,DNI,WS,RH,T,TARGET,file,date,time_float
0,0,7,30,8,0,4.2,32.62,2.7,0.750761,0,0,7.5
1,0,8,0,35,2,4.3,31.98,3.9,3.284535,0,0,8.0
2,0,8,30,64,12,4.4,29.00,5.3,6.193599,0,0,8.5
3,0,9,0,90,21,4.4,30.59,6.7,8.914892,0,0,9.0
4,0,9,30,128,137,4.3,28.19,7.9,15.952754,0,0,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
14062,6,17,30,130,244,1.7,32.01,20.6,19.891246,80,566,17.5
14063,6,18,0,91,181,1.4,41.65,19.4,12.666762,80,566,18.0
14064,6,18,30,54,126,1.2,45.74,17.9,6.849547,80,566,18.5
14065,6,19,0,21,51,1.0,53.81,16.4,2.251943,80,566,19.0
14066,6,19,30,1,1,0.9,55.62,15.9,0.093831,80,566,19.5

### test_by_date 만들기

In [25]:
test_by_date = pd.DataFrame(ghi.groupby(['date'])['time_float'].min()).reset_index()
test_by_date.rename(columns = {'time_float': 'sunrise'}, inplace=True)
test_by_date['sunset'] = pd.DataFrame(ghi.groupby(['date'])['time_float'].max())['time_float']
test_by_date['sunny'] = test_by_date['sunset'] - test_by_date['sunrise']

In [32]:
test_by_date['T_mean'] = pd.DataFrame(test.groupby(['date'])['T'].mean())['T']
test_by_date['DHI_mean'] = pd.DataFrame(test.groupby(['date'])['DHI'].mean())['DHI']
test_by_date['DNI_mean'] = pd.DataFrame(test.groupby(['date'])['DNI'].mean())['DNI']
test_by_date['WS_mean'] = pd.DataFrame(test.groupby(['date'])['WS'].mean())['WS']
test_by_date['RH_mean'] = pd.DataFrame(test.groupby(['date'])['RH'].mean())['RH']
test_by_date['TARGET_mean'] = pd.DataFrame(test.groupby(['date'])['TARGET'].mean())['TARGET']

test_by_date['temp_diff'] = pd.DataFrame(pd.DataFrame(test.groupby(['date'])['T'].max()) - pd.DataFrame(test.groupby(['date'])['T'].min()))['T']

In [36]:
test_by_date.head()

,date,sunrise,sunset,sunny,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean,temp_diff
0,0,7.5,16.5,9.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528,11.8
1,1,7.5,16.5,9.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770,9.3
2,2,7.5,16.5,9.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306,9.8
3,3,7.5,16.5,9.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346,12.9
4,4,7.5,16.5,9.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597,10.1

In [38]:
# GHI -----------------------------------------------------------------------------
test['GHI'] = test['DHI'] + test['DNI']

# dew -----------------------------------------------------------------------------
def dewpoint(rh, t) :
    gamma = math.log(rh/100) + 17.62*t/(243.12+t)
    dew = (243.12*gamma)/(17.62-gamma)
    return dew

test['dew'] = [dewpoint(test['RH'][i], test['T'][i]) for i in range(len(test))]

# cloudy -----------------------------------------------------------------------------
test['cloudy'] = test['DHI']/(test['DNI']+0.1)

In [40]:
test_by_date['GHI_mean'] = pd.DataFrame(test.groupby(['date'])['GHI'].mean())['GHI']
test_by_date['dew_mean'] = pd.DataFrame(test.groupby(['date'])['dew'].mean())['dew']
test_by_date['cloudy_mean'] = pd.DataFrame(test.groupby(['date'])['cloudy'].mean())['cloudy']

In [44]:
test_by_date

,date,sunrise,sunset,sunny,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean,temp_diff,GHI_mean,dew_mean,cloudy_mean
0,0,7.5,16.5,9.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528,11.8,129.708333,-9.413587,2.421375
1,1,7.5,16.5,9.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770,9.3,118.562500,-7.566488,17.958062
2,2,7.5,16.5,9.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306,9.8,159.666667,-7.617549,2.019084
3,3,7.5,16.5,9.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346,12.9,178.458333,-7.265113,8.756155
4,4,7.5,16.5,9.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597,10.1,333.458333,-11.659642,0.020597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,562,4.5,19.0,14.5,14.922917,107.312500,274.875000,1.414583,47.613958,25.421188,16.4,382.187500,2.560023,0.607048
563,563,4.5,19.0,14.5,15.972917,85.770833,326.041667,1.627083,51.993333,27.129276,16.8,411.812500,4.674903,0.388461
564,564,4.5,19.0,14.5,18.062500,108.479167,291.604167,1.772917,49.728333,25.689886,18.5,400.083333,5.257152,1.107088
565,565,4.5,19.0,14.5,17.520833,108.520833,229.416667,1.304167,48.447292,23.092370,15.8,337.937500,4.891991,1.945497
566,566,4.5,19.5,15.0,18.154167,117.791667,229.645833,1.695833,45.947500,23.704122,15.9,347.437500,4.668792,1.419023

### month 예측

In [47]:
test_X = test_by_date.drop(['date', 'cloudy_mean'], axis=1)

In [48]:
test_X

,sunrise,sunset,sunny,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean,temp_diff,GHI_mean,dew_mean
0,7.5,16.5,9.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528,11.8,129.708333,-9.413587
1,7.5,16.5,9.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770,9.3,118.562500,-7.566488
2,7.5,16.5,9.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306,9.8,159.666667,-7.617549
3,7.5,16.5,9.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346,12.9,178.458333,-7.265113
4,7.5,16.5,9.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597,10.1,333.458333,-11.659642
...,...,...,...,...,...,...,...,...,...,...,...,...
562,4.5,19.0,14.5,14.922917,107.312500,274.875000,1.414583,47.613958,25.421188,16.4,382.187500,2.560023
563,4.5,19.0,14.5,15.972917,85.770833,326.041667,1.627083,51.993333,27.129276,16.8,411.812500,4.674903
564,4.5,19.0,14.5,18.062500,108.479167,291.604167,1.772917,49.728333,25.689886,18.5,400.083333,5.257152
565,4.5,19.0,14.5,17.520833,108.520833,229.416667,1.304167,48.447292,23.092370,15.8,337.937500,4.891991
566,4.5,19.5,15.0,18.154167,117.791667,229.645833,1.695833,45.947500,23.704122,15.9,347.437500,4.668792

In [49]:
model = joblib.load('./model/month_xgb_200121.pkl')
predict_values = model.predict(test_X)

In [50]:
test_by_date['month'] = predict_values

In [51]:
test_by_date['month'].unique()

array([10,  0,  2,  1,  6,  7,  3,  5,  8,  4,  9], dtype=int64)

In [52]:
test_by_date['month'].value_counts()

6     78
2     67
0     65
10    60
3     56
5     55
4     50
8     37
9     36
1     35
7     28
Name: month, dtype: int64

In [53]:
test_by_date[:50]

,date,sunrise,sunset,sunny,T_mean,DHI_mean,DNI_mean,WS_mean,RH_mean,TARGET_mean,temp_diff,GHI_mean,dew_mean,cloudy_mean,month
0,0,7.5,16.5,9.0,4.652083,45.312500,84.395833,2.556250,35.827292,6.703528,11.8,129.708333,-9.413587,2.421375,10
1,1,7.5,16.5,9.0,5.450000,40.395833,78.166667,1.454167,39.045208,6.214770,9.3,118.562500,-7.566488,17.958062,10
2,2,7.5,16.5,9.0,3.414583,38.083333,121.583333,1.185417,44.850625,7.370306,9.8,159.666667,-7.617549,2.019084,10
3,3,7.5,16.5,9.0,0.512500,22.229167,156.229167,1.616667,56.891042,7.507346,12.9,178.458333,-7.265113,8.756155,0
4,4,7.5,16.5,9.0,-2.258333,16.125000,317.333333,1.839583,49.736667,11.253597,10.1,333.458333,-11.659642,0.020597,10
5,5,7.5,16.5,9.0,-1.810417,27.625000,193.187500,1.202083,64.367917,8.706162,9.2,220.812500,-7.891506,0.177984,0
6,6,7.5,16.5,9.0,-5.487500,32.000000,8.333333,4.258333,65.420833,3.280946,5.6,40.333333,-11.034327,14.563181,0
7,7,7.5,16.5,9.0,-7.387500,40.604167,101.541667,3.029167,50.174167,7.160091,8.6,142.145833,-16.674219,9.992749,0
8,8,7.5,16.5,9.0,-9.289583,41.604167,73.250000,1.866667,56.062292,6.401682,6.1,114.854167,-16.556945,5.348181,0
9,9,7.5,16.5,9.0,-6.152083,14.520833,325.500000,2.633333,46.826458,11.353767,14.0,340.020833,-16.439323,0.018161,10
10,10,7.5,16.5,9.0,-0.397917,35.958333,178.062500,2.327083,52.801042,8.131062,11.9,214.020833,-9.189219,0.180598,0
11,11,7.5,16.5,9.0,-8.193750,31.083333,10.687500,2.772917,62.372708,3.275279,7.4,41.770833,-14.164385,22.764000,0
12,12,7.5,16.5,9.0,-10.379167,23.770833,268.375000,1.425000,51.099167,10.677711,12.9,292.145833,-18.738696,0.038493,10
13,13,7.5,16.5,9.0,-3.727083,16.375000,336.395833,1.270833,36.148750,11.928107,15.2,352.770833,-17.094923,0.019223,10
14,14,7.5,17.0,9.5,-3.212500,22.208333,322.104167,1.941667,43.941458,12.670906,14.0,344.312500,-14.234061,0.028650,0
15,15,7.5,17.0,9.5,-0.127083,22.604167,281.854167,1.872917,51.340000,11.784898,15.3,304.458333,-9.141882,0.034473,0
16,16,7.5,17.0,9.5,1.533333,22.916667,271.250000,1.770833,63.131458,11.759686,7.8,294.166667,-4.779062,0.046019,0
17,17,7.5,17.0,9.5,2.218750,22.375000,298.020833,2.085417,54.372500,12.048678,11.7,320.395833,-6.316945,0.031560,0
18,18,7.5,17.0,9.5,-1.037500,50.458333,37.895833,2.562500,67.288333,6.033585,6.1,88.354167,-6.353608,40.858577,0
19,19,7.5,17.0,9.5,-1.685417,25.937500,265.666667,3.233333,55.906875,11.411953,11.2,291.604167,-9.504731,0.202475,0
20,20,7.5,17.0,9.5,2.008333,25.729167,270.000000,2.295833,55.731667,11.909914,10.4,295.729167,-6.031104,0.043526,0
21,21,7.0,17.5,10.5,-8.412500,67.854167,59.062500,1.987500,54.240833,8.886666,10.0,126.916667,-16.109205,5.534026,2
22,22,7.0,17.5,10.5,-8.577083,29.083333,355.416667,2.591667,42.614167,18.948251,12.3,384.500000,-19.316361,0.062767,1
23,23,7.0,17.5,10.5,-5.637500,37.708333,321.187500,1.677083,53.321458,17.946754,9.5,358.895833,-13.778794,0.057136,1
24,24,7.0,17.5,10.5,-3.254167,72.854167,85.416667,2.658333,67.342083,10.627996,11.7,158.270833,-8.617100,0.814332,1
25,25,7.0,17.5,10.5,-5.395833,29.916667,364.666667,4.147917,54.521667,19.254837,8.6,394.583333,-13.444887,0.039633,1
26,26,7.0,17.5,10.5,-4.264583,31.583333,383.937500,2.027083,50.695833,19.776137,14.2,415.520833,-13.205580,0.037239,1
27,27,7.0,17.5,10.5,-1.079167,37.520833,333.708333,1.956250,54.177500,18.666698,15.4,371.229167,-9.537909,0.051331,1
28,28,6.5,18.0,11.5,-0.212500,28.125000,409.875000,3.441667,49.452708,22.534179,11.6,438.000000,-10.140746,0.035675,2
29,29,6.5,18.0,11.5,0.739583,50.187500,303.208333,1.720833,52.790417,19.878571,15.4,353.395833,-8.320657,0.138696,2
30,30,6.5,18.0,11.5,2.910417,86.375000,131.020833,1.456250,55.261458,14.591905,13.6,217.395833,-5.622896,22.988034,2
31,31,6.5,18.0,11.5,6.720833,79.604167,179.145833,2.493750,58.022083,16.878309,16.4,258.750000,-1.840972,30.082000,2
32,32,6.5,18.0,11.5,-1.310417,33.666667,2.104167,6.925000,75.343542,3.220219,6.7,35.770833,-5.130562,131.769821,2
33,33,6.5,18.0,11.5,-5.514583,67.375000,251.770833,3.593750,65.459792,19.929448,12.9,319.145833,-11.027213,0.163278,2
34,34,6.5,18.0,11.5,-4.616667,38.812500,413.416667,1.595833,54.758750,24.356690,19.9,452.229167,-12.640696,0.049703,2
35,35,5.0,19.0,14.0,24.447917,73.791667,312.791667,2.089583,42.979583,28.129433,13.6,386.583333,9.928512,8.986899,6
36,36,5.0,19.0,14.0,22.172917,99.354167,190.791667,1.264583,60.292083,18.687981,11.3,290.145833,13.504398,2.698653,6
37,37,5.0,19.0,14.0,23.062500,71.687500,358.645833,2.020833,54.842083,28.468150,14.8,430.333333,12.231973,0.189250,6
38,38,5.0,19.0,14.0,24.547917,45.333333,441.812500,2.245833,47.138958,31.584963,15.7,487.145833,10.834314,0.064097,6
39,39,5.0,19.0,14.0,25.756250,67.520833,222.833333,2.333333,37.635833,19.431504,16.6,290.354167,7.505521,48.870826,6
40,40,5.0,19.0,14.0,23.756250,62.145833,357.187500,2.177083,45.126250,27.662617,15.2,419.333333,9.368448,0.380745,6
41,41,5.0,19.0,14.0,25.337500,92.395833,319.750000,2.025000,36.857917,26.381541,18.5,412.145833,7.484649,0.260883,6
42,42,5.0,19.5,14.5,25.385417,94.229167,364.791667,1.845833,36.025000,31.463321,18.1,459.020833,6.725349,0.164476,6
43,43,5.0,19.5,14.5,26.706250,83.812500,350.895833,1.256250,24.064583,31.286773,19.0,434.708333,2.246038,1.823055,6
44,44,5.0,19.0,14.0,26.004167,118.541667,143.041667,2.245833,32.342917,22.652403,15.5,261.583333,7.145629,34.053013,6
45,45,5.0,19.0,14.0,26.056250,81.270833,246.437500,2.116667,38.305417,22.376955,14.1,327.708333,9.594776,4.693300,6
46,46,5.0,19.0,14.0,24.529167,121.166667,95.437500,2.339583,48.084583,16.566510,15.0,216.604167,11.492665,3.545972,6
47,47,5.0,19.0,14.0,20.425000,87.083333,106.250000,2.266667,70.392917,13.516405,9.6,193.333333,14.345614,29.565281,6
48,48,5.0,19.0,14.0,23.468750,59.583333,350.125000,2.322917,57.456458,29.319794,17.2,409.708333,12.923208,6.495355,6
49,49,5.5,19.0,13.5,23.847917,63.000000,384.708333,1.439583,46.183542,28.616189,16.8,447.708333,9.503397,0.110100,6

In [ ]:
0 1 2 3 4 5 6 7 8 9 10

In [ ]:
1 2 3 4 5 6 7 8 9 10 11

In [54]:
model = joblib.load('./model/month_lgb_200121.pkl')
predict_values = model.predict(test_X)

In [56]:
test_by_date['month'] = predict_values

In [57]:
test_by_date['month'].unique()

array([10,  0,  1,  2,  6,  7,  3,  5,  8,  4,  9], dtype=int64)

In [58]:
test_by_date['month'].value_counts()

6     76
0     73
2     62
5     56
3     55
10    54
4     49
8     39
1     37
9     35
7     31
Name: month, dtype: int64